In [1]:
import requests
import re # regular expressions
from bs4 import BeautifulSoup
from selenium import webdriver
import pandas as pd

In [2]:
CHROME_DRIVER_PATH = r'C:\Users\FLOX\ChromeDriver\chromedriver.exe'
driver = webdriver.Chrome(CHROME_DRIVER_PATH)

In [3]:
# step 1
URL = 'https://www.datacamp.com/search?tab=courses'

In [4]:
driver.get(URL)

In [5]:
content = driver.page_source
soup = BeautifulSoup(content)

In [7]:
names = []
time = []
for block in soup.findAll('article', attrs={'class':'dc-card dc-card--bordered dc-card--interactive dc-global-search-result'}):
    name_str = block.find('div', attrs={'class': 'dc-global-search-result__content'}).text
    time_str = block.find('div', attrs={'class': 'dc-u-fs-small'}).text
    names.append(name_str)
    time.append(time_str)

In [53]:
data = {
    'Course name and description': names,
    'Time and other info': time
}
df = pd.DataFrame(data)

In [54]:
df = df.replace('\n','-', regex=True)

In [40]:
df = df.replace(r'(,)*',',', regex=True)

In [55]:
df

,Course name and description,Time and other info
0,-Introduction to Python-- Master the ...,-------4 hours--------Programming--------Hugo ...
1,-Introduction to SQL-- Master the bas...,-------4 hours--------Programming--------Nick ...
2,-Introduction to R-- Master the basic...,-------4 hours--------Programming--------Jonat...
3,-Data Science for Everyone-- An intro...,-------2 hours--------Other--------Hadrien Lac...
4,-Intermediate Python-- Level up your ...,-------4 hours--------Programming--------Hugo ...
...,...,...
95,-ASL Recognition with Deep Learning-- ...,"-------45 minutes--------Data Manipulation, Da..."
96,-Which Debts Are Worth the Bank's Effort?-- ...,"-------45 minutes--------Data Manipulation, Da..."
97,-Predict Taxi Fares with Random Forests-- ...,"-------45 minutes--------Data Visualization, M..."
98,-Dr. Semmelweis and the Discovery of Handwashi...,"-------60 minutes--------Data Manipulation, Da..."
99,"-Drunken Datetimes in Ames, Iowa-- Ap...","-------45 minutes--------Data Manipulation, Da..."

In [56]:
df.to_excel("datacamp_courses.xlsx",
             sheet_name='Sheet_name_1')