In [60]:
import requests
import re # regular expressions
from bs4 import BeautifulSoup
from selenium import webdriver
import pandas as pd

In [69]:
CHROME_DRIVER_PATH = r'C:\Users\FLOX\ChromeDriver\chromedriver.exe'
driver = webdriver.Chrome(CHROME_DRIVER_PATH)

In [70]:
# step 1
URL = 'https://skillbox.kz/courses/?type_course=course'

In [71]:
driver.get(URL)

In [87]:
content = driver.page_source
soup = BeautifulSoup(content)

In [88]:
names = []
time = []
for block in soup.findAll('a', attrs={'class':'card card_course'}):
    name_str = block.find('div', attrs={'class': 'card__title h--4'}).text
    time_str = block.find('b', attrs={'class': 'card__count'}).text
    names.append(name_str)
    time.append(time_str)

In [89]:
data = {
    'Name': names,
    'Count_of_Mounth': time
}
df = pd.DataFrame(data)

In [90]:
df

                                                  Name Count_of_Mounth
0          Бизнес-английский: навыки деловой переписки              3
1     Разработка стратегии в условиях неопределенности              8
2                                      Project Manager              4
3                      Управление разработкой продукта              1
4                             Нематериальная мотивация              2
..                                                 ...             ...
312                               Комплаенс-специалист              3
313                    Маркетинг в ресторанном бизнесе              2
314                             Аналитик данных с нуля              6
315                                 Концепт-арт в кино              3
316  Здоровая самооценка. Как обрести уверенность, ...              2

[317 rows x 2 columns]

In [91]:
df.to_excel("skillbox_courses.xlsx",
             sheet_name='Sheet_name_1')